<h1>Pessoas#index</h1>
<h2><%= @nome %></h2>
<h3><%= @numeros %></h3>
<ul>
	<% for n in @numeros %>
		<li><%= n %></li>
		<%end%>
</ul>

<h4><%=nome_completo%></h4>
<p>Find me in app/views/people/index.html.erb</p>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Abreviacao</th>
      <th>Nascimento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.nome %></td>
        <td><%= person.abreviacao %></td>
        <td><%= person.nascimento %></td>
      </tr>
    <% end %>
  </tbody>
</table>
