<%= form_for(@person) do |form| %>
  <div>
      <%= form.label :nome %>
    <%= form.text_field :nome, id: :person_nome %>
  </div>
  <div>
    <%= form.label :abreviacao %>
    <%= form.text_field :abreviacao, id: :person_abreviacao %>
  </div>
  <div >
    <%= form.label :nascimento %>
    <%= form.datetime_select :nascimento, id: :person_nascimento %>
  </div>

  <div >
    <%= form.submit %>
  </div>
<% end %>